<!DOCTYPE html>
<html lang="sk">

<head>
    <%- include("partials/head");%>
</head>

<body>

<header>
    <%- include("partials/header");%>
</header>
<nav>
    <%- include("partials/nav");%>

</nav>

<main>
        <h1>404 Not found</h1>
</main>
<aside id="right_panel">
<%- include("partials/righ_panel");%>

</aside>

<footer>
    &copy; <a href="http://www.transylwahnja.eu">www.transylwahnja.eu</a>, 2006-2007
</footer>
</body>

</html>